// $link: #461ff2;
$link: dodgerblue;
$icon: 'ElegantIcons';

$white: #fff;
$black: #000;

$error: #d00;
$tomato: #ff6347;

$text: #2c3e50;

$body: 'Nunito Sans', sans-serif;
$title: 'Prata', serif;
$mono: 'Consolas', monospace;

$lg: 1499px;
$md: 1199px;
$sm: 1023px;
$xs: 767px;
$mobile: 479px;
$iphone: 375px;
