@import "mixins";
@import "variables";

html {
    box-sizing: border-box;
    * {
        box-sizing: inherit;
    }
  &::selection,
  &::-moz-selection {
    background: red;
    color: white;
  }
}

body {
    font-family: $body;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text;
    margin: 0;
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: $title;
}

a {
    color: $link;
}

button {
    cursor: pointer;
}

a,
button {
    transition: background 0.15s, color 0.15s, border-color 0.15s;
}


#footer {
    position: fixed;
    width: 100%;
    height: 3rem;
    left: 0;
    bottom: 0;
    padding: 0.25rem;
    border-top: 1px solid #ddd;
    background: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .button {
        text-decoration: none;
        display: inline-block;
        border: 1px solid #ddd;
        border-radius: 3px;
        font-size: 0.6875em;
        padding: 0.55em 0.6875em 0.45em;
        min-width: 12em;
        background: #fafafa;
        margin: 0 0.25rem 0 0;
        color: $text;
        font-family: $mono;
        text-align: left;
        font-weight: 400;
        &:hover,
        &:focus {
            background: $white;
        }
        &:last-child {
            margin-right: 0;
        }
        @include media($mobile) {
            flex-grow: 1;
            min-width: initial;
        }
    }
}

#footer-left,
#footer-right {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#footer-right {
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.75rem;
  img {
    display: block;
  }
}

p {
    line-height: 1.65;
}

form {
    label {
        display: block;
        cursor: pointer;
    }
    input,
    select,
    textarea {
        width: 100%;
        padding: 0.25em 0.375em;
    }
    textarea {
        max-width: 100%;
    }
    button {
        &[type='submit'] {
            margin-top: 1em;
        }
    }
    small {
        display: block;
        color: $error;
    }
}

@import "form";
